<div class="row">
    <div class="col-md-12">
        <form>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Pesquise seu Username do Github" [(ngModel)]="username" name="username" (keyup)="search()">    
            </div>    
        </form>    
    </div>    
</div>

<div *ngIf="user">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{user.name}}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-thumbnail github-avatar" src="{{user.avatar_url}}">
                </div>
                <div class="col-md-8">
                    <div class="stats">
                    <span class="label label-default">{{user.public_repos}} Public Repos</span>
                    <span class="label label-primary">{{user.public_gists}} Public Gists</span>
                    <span class="label label-success">{{user.followers}} Followers</span>
                    <span class="label label-info">{{user.following}} Following</span>
                    </div>
                    <br>
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Login: </strong>{{user.login}}</li> 
                        <li class="list-group-item"><strong>Localização: </strong>{{user.location}}</li>
                        <li class="list-group-item"><strong>Email: </strong>{{user.email}}</li>
                        <li class="list-group-item"><strong>Blog: </strong>{{user.blog}}</li> 
                        <li class="list-group-item"><strong>Membro desde: </strong>{{user.created_at | date: 'EEEE, MMMM d, y'}}</li> 
                        <li class="list-group-item">    
                        <div id="data"></div>
                                 <input type="text" class="form-control" placeholder="Adicione Observações" name="obs" id="obs"> 
                                 <button type="button" id="salvar" onclick="Salva();" class="btn btn-default">Salvar</button>
                        </li> 
                    </ul>
                </div>    
            </div>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Repositório</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover">
                         <thead>
                           <tr>
                              <th>Nome</th>
                              <th>Ações</th>
                           </tr>
                        </thead>
                        <tr *ngFor="let repo of repos">
                            <td>
                                <h4><a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a></h4>  
                                <p>{{repo.description}}</p>  
                               
                            </td>
                            <td>
                                 <span class="label label-default">{{repo.watchers}} Watchers</span>
                                <span class="label label-primary">{{repo.forks}} Forks</span>
                            </td>
                        </tr>
                    </table>
                </div>    
            </div>
        </div>
   </div>
</div>